<div class="row">
  <%= link_to("习惯时期", habit_list_habit_periods_path(@habit_list), class: "btn btn-default pull-right") %>
</div>
<br>
<div class="row">
  <div class="count-day col-md-2 col-xs-2">
    <button class="btn btn-default" style="width= 100%;">坚持了<%= @habit_list.record_days.count %>天</button>
  </div>

  <div class="period-show col-md-10 col-xs-10">
      <% t = 0 %>
      <% d = 0 %>
      <% d = @habit_list.record_days.count %>
     <% @habit_periods.each do |habit_period| %>
       <% t += habit_period.period_time %>
       <% t %>

       <% if d < t+1 %>
         <%= link_to habit_period.period_type.name, "", class: "btn btn-danger", style: "width: 100%" %>
         <% break %>
       <% end %>
     <% end %>
  </div>
</div>
