  <h1 class="habit_list_title">编辑 <%= @habit_list.title %>习惯养成</h1>

  <%= render 'form', habit_list: @habit_list %>
  <div class="col-md-12 col-xs-12">
    <hr>
    <div class="btn-group pull-right">
      <%= link_to '删除', @habit_list, method: :delete, class: "btn btn3d btn-danger", data: { confirm: "你确定删除 #{@habit_list.title}这项习惯吗?" } %>
      <%= link_to '返回', habit_lists_path, class: "btn btn3d btn-default" %>
    </div>
  </div>
