<div class="container">
  <h1>编辑 <%= @habit_list.title %>习惯养成</h1>

  <%= render 'form', habit_list: @habit_list %>


  <div class="btn-group pull-right">
    <%= link_to '删除', @habit_list, method: :delete, class: "btn btn-danger", data: { confirm: "你确定删除 #{ @habit_list.title }这项习惯吗?" } %>
    <%= link_to '返回', habit_lists_path, class: "btn btn-default" %>
  </div>


</div>
