<p id="notice"><%= notice %></p>
<div class="container">
<h1>Habit Lists</h1>
<hr>
      <% @habit_lists.each do |habit_list| %>
        <div class="row col-md-12 col-xs-12">
          <h2 class="habit_list_title text-center">
            <%= link_to habit_list.title, habit_list_path(habit_list) %>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <%= habit_list.description %>
          </div>
             
        </div>
        <hr>
      <% end %>
<br>

<%= link_to 'New Habit List', new_habit_list_path, class: "btn btn-default" %>
</div>
