<div class="container">
<h1>New Habit List</h1>

<%= render 'form', habit_list: @habit_list %>
<%= select_tag(:habit_type_id, options_for_select(@habit_type), :prompt => "习惯类型") %>

<%= link_to 'Back to Index', habit_lists_path, class: "btn btn-default pull-right"%>
</div>
