<h1>1706-ORID(Do something)</h1>
<ol>
  <li>每日学习记录、反思：ORID(Must do)</li>
  <li>每天的1000字(Could do)</li>
  <li>今天的生活记录(Should do)</li>
</ol>
<hr />

<h2>学习部分</h2>
<h3>Objective（客观世界发生了什么？）</h3>
  <blockquote>
    <h4>学习中完成了什么？看的书、听得课、看的文章</h4>
  </blockquote>
<taskList>
  <li>坐享</li>
  <li>Beyond Feeling-</li>
  <li>English Writing</li>
  <li>高数</li>
  <li>心理学导论</li>
  <li>TED</li>
</taskList>
  <blockquote>
    <h4>今天学习的东西里，你还记得什么？</h4>
  </blockquote>
<p></p>
<h3>Reflection（你的情绪要照顾一下）</h3>
  <blockquote>
    <h4>Three Things I&#39;m Grateful</h4>
  </blockquote>
<ol>
  <li></li>
  <li></li>
  <li></li>
</ol>
  <blockquote>
    <h4>学习的高峰在何时？</h4>
  </blockquote>
<ul>
  <li>早上——</li>
  <li>下午——</li>
  <li>晚上——</li>
</ul>

  <blockquote>
    <h4>学习的低谷出现在哪？</h4>
  </blockquote>
<ul>
  <li>早上——</li>
  <li>下午——</li>
  <li>晚上——</li>
</ul>
<h3>Interpretation（提取一下，你对今天学习的理解）</h3>
<blockquote><h4>我们今天学到了什么，还能用在哪里？</h4>
</blockquote>
<p></p>
<blockquote><h4>今天一个重要的领悟是什么（是最重要的才写！）?</h4>
</blockquote>
<p></p>
<h3>Decision（学会写总结，要简单）</h3>
<blockquote><h4>我会如何用一句话形容今天的生活？【未来的自己将会怎样与今天的自己协作呢？】</h4>
</blockquote>
<p></p>
<blockquote><h4>有哪些任务需要明天继续努力?</h4>
</blockquote>
<p></p>
