<footer>
    <div class="footer" id="footer">
              <div class="col-md-12 col-xs-12 habit_list_sub_title">
                  <strong>
                    <p class="text-center"> 联系我 <span> | </span>
                      <%= link_to "", "https://github.com/JayGJianGuo/habit_app", class: "fa fa-github-alt" %>
                      <%= link_to "", "http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=rsTP14DJg8THz8CAydvB7sjB1sPPx8KAzcHD", class: "fa fa-envelope" %>
                    </p>
                  </strong>
              </div>
              <hr>
              <div class="col-md-12 col-xs-12 habit_list_sub_title">
                <p class="text-center">Copyright ©2017 <strong>Habit Developer</strong>
                    <br>Design by <strong>Jay.G</strong>
                </p>
              </div>


    </div>
    <!--/.footer-->
</footer>
<!--
<footer class="container" style="margin-top: 1.14em;">
    <p class="text-center">Copyright ©2017 HABIT
        <br>Design by Jay.G

    </p>
</footer>
-->
